<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profile</title>

    <!-- Bootstrap Core CSS -->
    <link href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")' rel="stylesheet">
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                           <a href= "">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">My Profile</a>
                    </li>
                    <li class="page-scroll">
                        <a href=" ">Logout</a>
                    </li>
                </ul>
            </div>
    </nav><br><br><br>

    <!-- Header -->
    <header>
        <br><br>
        <div class="container">
            <div class="col-lg-5">
                <div class="intro-text">
                    <h1>My Profile</h1>
                </div>
                <br>
                <img class="img-responsive" src='@routes.Assets.at("bootstrap/img/profile.png")'>
                <p>UserName</p>
                <a href="" class="btn btn-primary">Edit</a><br>
            </div>
            <div class="col-lg-6">
                <h1>My Reputation<h1>
                <svg width="500" height="300">
                    <!-- first:middle, bottom-left, top-right, top-left, bottom-right -->
                    <polygon points="100,10 40,198 190,78 10,78 160,198"
                    style="fill:yellow;stroke:yellow;stroke-width:2;" />
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
        </div>
    </header>

    <!-- Profile activities -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p><a class="btn btn-primary" href="" role="button">My Friends</a></p>
                <ol>
                    <li>Friend</li>
                    <li>Friend2</li>
                    <li>Friend3</li>
                </ol>
            </div>
            <div class="col-lg-3">
                <p><a class="btn btn-primary" href="" role="button">My Communitites</a></p>
                <ol>
                    <li>CommunityName</li>
                    <li>CommunityName2</li>
                    <li>CommunityName3</li>
                </ol>
            </div>
            <div class="col-lg-3">
              <p><a class="btn btn-primary" href="" role="button">My Projects</a></p>
              <ol>
                <li>Project</li>
                <li>Project2</li>
                <li>Project3</li>
              </ol>
            </div>
            <div class="col-lg-3">
                <p><a class="btn btn-primary" href="" role="button">Projects Funded</a></p>
                <ol>
                    <li>Project</li>
                    <li>Project2</li>
                    <li>Project3</li>
                </ol>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="col-lg-10 col-lg-offset-1">
        <hr class="small">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a class="btn btn-primary" href="" role="button" style="font-size: 30px">Create Community</a>
            </div>

            <div class="col-md-4 col-sm-4">
                <a class="btn btn-primary" href="" role="button" style="font-size: 30px">Create Project</a>
            </div>

            <div class="col-md-4 col-sm-7">
                <a class="btn btn-primary" href="" role="button" style="font-size: 30px">Explore communities</a>
                <br><br><br>
            </div>
        </div>
    </div> 
</body>

</html>