<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Creating Community</title>

        <!-- Bootstrap Core CSS -->
        <link href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")' rel="stylesheet">
    </head>
    <br><br>

    <body id="page-top" class="index">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="@routes.Application.exploreCommunity()">Home</a>
                        </li>
                        <li class="page-scroll">
                            <a href="@routes.Application.profile()">My Profile</a>
                        </li>
                        <li class="page-scroll">
                            <a href="@routes.Application.signOut()">Logout</a>
                        </li>
                    </ul>
                </div>
        </nav><br><br><br>

        <!-- Header -->
        <header>
            <h1>Creating a new community</h1>
            <div class="col-lg-3">
                <input type="text" id="inputEmail" class="form-control" placeholder="What is the name of the communtiy?" required="" autofocus=""><br />
                <h4>Community description</h4>
                <textarea id="inputEmail" class="from-control" rows="10" cols="120" placeholder="Please provide a detail description of the community.">
                </textarea>
            </div>
        </header>    
        <footer class="footer">
          <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <br>
                        <div class="row">
                            <div class="col-md-8 col-sm-6">
                                <p><a class="btn btn-primary" href="@routes.Application.inviteFriends()" role="button" style="font-size: 30px">Invite Friends</a></p>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <p><a class="btn btn-primary" href="@routes.Application.communityPage()" role="button" style="font-size: 30px">Done</a></p>
                            </div>
                            <br><br><br>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.col-lg-10 -->
                </div>
                <!-- /.row -->
            </div>
        </footer>
    </body>

</html>
