<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Exploring communities</title>

    <!-- Bootstrap Core CSS -->
    <link href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")' rel="stylesheet">
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#top">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="@routes.Application.profile()">My Profile</a>
                    </li>
                    <li class="page-scroll">
                        <a href="@routes.Application.signOut()">Logout</a>
                    </li>
                </ul>
            </div>
    </nav><br><br><br>

    <!-- Header -->
    <header>
        <h1>Exploring Communities</h1>
        <br>
        <div class="container">
            <div class="col-lg-6">
                <h4>Communities you might be interested in</h4>
                <ol>
                    <li>Community</li>
                        <p>Description of community</p>
                        <p><a class="btn btn-primary" href="#" role="button">Follow</a></p>
                        <br>
                    <li>Community2</li>
                        <p>Description of community2</p>
                        <p><a class="btn btn-primary" href="#" role="button">Follow</a></p>
                        <br>
                    <li>Community3</li>
                        <p>Description of community3</p>
                        <p><a class="btn btn-primary" href="#" role="button">Follow</a></p>
                        <br>
                </ol>
            </div>
            <div class="col-lg-6">
                <h4>Communities around you</h4>
                <ol>
                    <li>Community</li>
                        <p>Description of community</p>
                        <p><a class="btn btn-primary" href="#" role="button">Follow</a></p>
                        <br>
                    <li>Community2</li>
                        <p>Description of community2</p>
                        <p><a class="btn btn-primary" href="#" role="button">Follow</a></p>
                        <br>
                    <li>Community3</li>
                        <p>Description of community3</p>
                        <p><a class="btn btn-primary" href="#" role="button">Follow</a></p>
                        <br>
                </ol>
            </div>
        </div>
    </header>
    <br><br><br>


    <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
            <br>
            <p><a class="btn btn-primary" href="@routes.Application.creatingCommunity()" role="button" style="font-size: 30px">Create community</a></p>
            <hr class="small">
        </div>
    </div>
</body>

</html>
