<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Other User Profile</title>

    <!-- Bootstrap Core CSS -->
    <link href="css\bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css\freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css\font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">My Profile</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Logout</a>
                    </li>
                </ul>
            </div>
    </nav><br><br><br>

    <!-- Header -->
    <header>
        <br><br>
        <div class="container">
            <div class="col-lg-5">
                <div class="intro-text">
                    <h1>otherUserName Profile</h1>
                </div>
                <br>
                <img class="img-responsive" src="C:\Users\gilberto\Desktop\uni\PersonalWork\app\public\bootstrap\img\profile.png" alt="">
                <p>otherUserName</p>
            </div>
            <div class="col-lg-6">
                <h1>otherUserName Reputation<h1>
                <svg width="500" height="300">
                    <!-- first:middle, bottom-left, top-right, top-left, bottom-right -->
                    <polygon points="100,10 40,198 190,78 10,78 160,198"
                    style="fill:lime;stroke:lime;stroke-width:2;" />
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
        </div>
    </header>

    <!-- Profile activities -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p><a class="btn btn-primary" href="#" role="button">otherUserName Friends</a></p>
                <ol>
                    <li>Friend</li>
                    <li>Friend2</li>
                    <li>Friend3</li>
                </ol>
            </div>
            <div class="col-lg-3">
                <p><a class="btn btn-primary" href="#" role="button">otherUserName Projects</a></p>
                <ol>
                    <li>CommunityName</li>
                    <li>CommunityName2</li>
                    <li>CommunityName3</li>
                </ol>
            </div>
            <div class="col-lg-3">
              <p><a class="btn btn-primary" href="#" role="button">otherUserName Projects</a></p>
              <ol>
                <li>Project</li>
                <li>Project2</li>
                <li>Project3</li>
              </ol>
            </div>
            <div class="col-lg-3">
                <p><a class="btn btn-primary" href="#" role="button">otherUserName Funds</a></p>
                <ol>
                    <li>Project</li>
                    <li>Project2</li>
                    <li>Project3</li>
                </ol>
            </div>
        </div>
    </div>

    <!-- The circle icons use Font Awesome's stacked icon classes. -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <br>
                    <p><a class="btn btn-primary" href="#" role="button">Rate otherUserName</a></p>
                    <hr class="small">
                </div>
            </div>
        </div>
    </section>  

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>

</body>

</html>
