<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Profile Set-UP</title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")'>
    </head>

    <body id="page-top" class="index">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="#Home">Home</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#finishProfile">My Profile</a>
                        </li>
                        <li class="page-scroll">
                            <a href="@routes.Application.index">Logout</a>
                        </li>
                    </ul>
                </div>
        </nav><br><br><br>

        <!-- Header -->
        <header>
            <div class="intro-text">
                <h1>Welcome to CommunityFund, lets set up your profile.</h1><br>
            </div>
            <div class="col-md-2">
                <img class="img-responsive" src='@routes.Assets.at("bootstrap/img/profile.png")'> <br>
                <a href="#uploadPic" class="btn btn-primary">Change picture</a>
            </div>
            <div class="container" style="width:500px;">
                <form class="form-user-info">
                    <h4 class="form-user-info-heading">Please fill out your personal info.</h4>
                    <input type="text" id="inputUserName" class="form-control" placeholder="What's your name?" required="" autofocus=""><br />
                    <input type="text" id="inputAddress" class="form-control" placeholder="Where do you live?" required=""><br>

                    <p>What are your interests? </p>
                    <input type="text" id="inputScience" class="form-control" placeholder="Are you interested in Science?" required=""> <br>
                    <input type="text" id="inputArt" class="form-control" placeholder="Are you interested in Art?" required=""><br>

                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputBusiness" class="form-control" placeholder="Are you interested in Business?" required=""><br>
                </form>
                <div class="row text-center">
                    <div class="col-md-2">
                        <a href="#more" class="btn btn-primary">More</a><br><br><br>
                    </div>
                </div>  
            </div>
        </header>
            <div align="center" class="row">
                <div class="col-md-6">
                    <a href="@routes.Application.profile()" class="btn btn-primary" style="font-size: 30px">Create profile</a><br>
                </div>
                <div class="col-md-6">
                    <a href="@routes.Application.exploreCommunity()" class="btn btn-primary" style="font-size: 30px">Explore communities</a><br>
                </div>
            </div>  
    </body>
</html>
