<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Project creation</title>

        <!-- Bootstrap Core CSS -->
        <link href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")' rel="stylesheet">
    </head>

    <body id="page-top" class="index">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="#portfolio">Home</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#about">My Profile</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contact">Logout</a>
                        </li>
                    </ul>
                </div>
        </nav><br><br><br>

        <!-- Header -->
        <header>
            <div class="col-md-6">
                <br>
                <h1>Creating a project</h1>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src='@routes.Assets.at("bootstrap/img/icon_placeholder.png")'>
            </div>
            <div class="col-md-3">
                <input type="text" id="inputEmail" class="form-control" placeholder="What is the name of the project?" required="" autofocus="">
                <br>
            </div>
        </header>

        <!-- Project's milestones -->
        <div class="col-md-10">
            <h3>Description of the project</h3>
            <textarea id="inputEmail" class="from-control" rows="6" cols="120" placeholder="Detail description of the project.">
            </textarea>
        </div>
        <div class="col-md-10">
            <h3>Project's milestones</h3>
        </div>
        <div class="col-md-3">
            <p>First Milestone</p>
            <textarea id="inputEmail" class="from-control" rows="4" cols="30" placeholder="First milestone.">
            </textarea>
        </div>
        <div class="col-md-3">
            <p>Second Milestone</p>
            <textarea id="inputEmail" class="from-control" rows="4" cols="30" placeholder="First milestone.">
            </textarea>
        </div>
        <div class="col-md-3">
            <p>Third Milestone</p>
            <textarea id="inputEmail" class="from-control" rows="4" cols="30" placeholder="First milestone.">
            </textarea>
        </div>
        <div class="col-md-3">
            <p>Fourth Milestone</p>
            <textarea id="inputEmail" class="from-control" rows="4" cols="30" placeholder="First milestone.">
            </textarea>
        </div>

        <!-- Next pages-->
        <div class="col-md-10">
            <br>
            <a class="btn btn-primary" href="#" role="button" style="font-size: 30px">Create Project</a>
        </div>
        <div class="col-md-2">
            <br>
            <a class="btn btn-primary" href="#" role="button">More Milestones</a>
        </div>
    </body>

</html>
