<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Project</title>

        <!-- Bootstrap Core CSS -->
        <link href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")' rel="stylesheet">
    </head>

    <body id="page-top" class="index">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="@routes.Application.exploreCommunity()">Home</a>
                        </li>
                        <li class="page-scroll">
                            <a href="@routes.Application.profile()">My Profile</a>
                        </li>
                        <li class="page-scroll">
                            <a href="@routes.Application.signOut()">Logout</a>
                        </li>
                    </ul>
                </div>
        </nav><br><br><br>

        <!-- Header -->
        <header>
            <div class="col-md-3">
                <h2>projectName</h2>
                <img class="img-responsive" src='@routes.Assets.at("bootstrap/img/icon_placeholder.png")'>
            </div>
            <div class="col-md-3">
                <h2>Creator</h2>
                <p>creatorsUserName</p>
                <img class="img-responsive" src='@routes.Assets.at("bootstrap/img/profile.png")'>
            </div>
            <div class="col-md-3">
                <h2>Project's description</h2>
                <p>Sago tijd wel een mier toch doel. Krachtiger monopolies verwachten begrenzing nu beschaving om. Ze laag door in mont. Planten behoeft regelen als geleend bereikt toe men geleden.</p>
            </div>
            <div class="col-md-3">
                <h2>Project's reputation</h2>
                <svg width="500" height="300">
                    <!-- first:middle, bottom-left, top-right, top-left, bottom-right -->
                    <polygon points="100,10 40,198 190,78 10,78 160,198"
                    style="fill:yellow;stroke:yellow;stroke-width:2;" />
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
        </header>

        <!-- Project's milestones-->
        <div class="col-md-10">
            <h2>Project's milestones</h2>
        </div>
        <div class="col-md-3">
            <p>Milestone</p>
            <p>Sago tijd wel een mier toch doel. Krachtiger monopolies verwachten begrenzing nu beschaving om. Ze laag door in mont. Planten behoeft regelen als geleend bereikt toe men geleden.</p>
        </div>
        <div class="col-md-3">
            <p>Milestone2</p>
            <p>Sago tijd wel een mier toch doel. Krachtiger monopolies verwachten begrenzing nu beschaving om. Ze laag door in mont. Planten behoeft regelen als geleend bereikt toe men geleden.</p>
        </div>
        <div class="col-md-3">
            <p>Milestone3</p>
            <p>Sago tijd wel een mier toch doel. Krachtiger monopolies verwachten begrenzing nu beschaving om. Ze laag door in mont. Planten behoeft regelen als geleend bereikt toe men geleden.</p>
        </div>
        <div class="col-md-3">
            <p>Milestone4</p>
            <p>Sago tijd wel een mier toch doel. Krachtiger monopolies verwachten begrenzing nu beschaving om. Ze laag door in mont. Planten behoeft regelen als geleend bereikt toe men geleden.</p>
        </div>

        <!-- Next pages-->
        <div class="col-md-6">
            <br>
            <p><a class="btn btn-primary" href="@routes.Application.fund()" role="button" style="font-size: 30px">Fund Project</a></p>
        </div>
        <div class="col-md-4">
            <br>
            <p><a class="btn btn-primary" href="#" role="button" style="font-size: 30px">Rate Project</a></p>
        </div>
        <div class="col-md-2">
            <br>
            <p><a class="btn btn-primary" href="#" role="button">See All Milestones</a></p>
        </div>
    </body>

</html>
